@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: #20202380;
    /* border-bottom: 1px solid rgb(56, 56, 56); */
    z-index: 99;
    padding: 0px 20px;
    backdrop-filter: blur(10px);
    /**/
    z-index: 999;
    transition:  .5s ease;
    transform: translate(0);
}
.Header_Change  {
    transform: translateY(-100%);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: #20202380;
    z-index: 99;
    padding: 0px 20px;
    backdrop-filter: blur(10px);
    z-index: 999;
    transition:  .5s ease;

}

.HeaderSub{
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.Header-Span-content { 
    font-size: 22px;
    /* display: -webkit-inline-box; */
    /* display: -webkit-inline-flex; */
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    padding: 8px;
    cursor: pointer;
    
}
.leeseungchan {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.Header-Span-content:hover .leeseungchan {
    transform: rotate(-50deg);
    
}
/* .Header-Span-content ::before{
    content: "<";
    margin-right: 5px;
    color: #888888;
}
.Header-Span-content ::after {
    content: "/>";
    margin-left: 5px;
    color: #888888;
} */
.Header-Myname {
    text-decoration: none;
    color: white;
    /* font-family: var(--chakra-fonts-heading); */
    /* font-family: M PLUS Rounded 1c, sans-serif; */
    /* font-weight:var(--chakra-fontWeights-bold);margin-left:var(--chakra-space-3); */
    /* letter-spacing: var(--chakra-letterSpacings-tighter); */
    font-family: 'Anton', sans-serif;
    /* padding-bottom: 10px; */
    /* font-family: 'Fuzzy Bubbles', cursive; */

}
/* .Header-Myname:hover {
    color: rgb(153, 204, 255);
    border-bottom: 2px solid rgb(153, 204, 255);
    /* border-bottom: 2px solid #0071e3; */

 

.Header-logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 29px;
    padding: 21px 0px;
    margin-left: 20px;
    float: left;
}
.Header-menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 50px;
    transition: .2s ease-out;
}
.Header-list {
    color: white;
    padding: 10px;
    font-size: 18px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
}
.active {
    background-color: #004EA2;
    border-radius: 10px;

}
 .Header-list:hover{
    cursor: pointer;
    /* border-bottom: 2px solid white; */
    background-color: #0071e3;
    border-radius: 10px;
} 
.HeaderLink{
    text-decoration: none;
}
.Header-Myname span {
    position: relative;
    -webkit-font-smoothing: antialiased;
  top: 2px;
  animation: bounce .4s ease infinite alternate;
  font-family: 'Anton', sans-serif;
}
.Header-Myname span:nth-child(2){ animation-delay: .1s; }
.Header-Myname span:nth-child(3){ animation-delay: .2s; }
.Header-Myname span:nth-child(4){ animation-delay: .3s; }
.Header-Myname span:nth-child(5){ animation-delay: .4s; }
.Header-Myname span:nth-child(6){ animation-delay: .5s; }
.Header-Myname span:nth-child(7){ animation-delay: .6s; }
.Header-Myname span:nth-child(8){ animation-delay: .7s; }
@keyframes bounce {
    100% {
      top: 3px; 
       /* text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2); */
    }
  }
