.userReducerModalBG{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* background: #000; */
    background: #20202380;
    backdrop-filter: blur(2px);
    opacity: 1;
}
.userReducerPopup{
    width: 500px;
    height: 600px;
    background: rgb(55, 55, 55);
    position: absolute;
    left: 50%;
    top: 50%;
    /* padding: 30px; */
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 15px
}
.popUpHeader{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 35px;
    z-index: 99;
    padding: 0 10px;
}
.popUpHeaderSub{
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.popUpHeaderCloseX{
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    margin-left: 3px;
}
.firstCloseX{
    background: rgb(237, 106, 94);
    border-radius: 100%;
    
}
.secondCloseX{
    background: rgb(244, 191, 79);
    border-radius: 50%;
    margin-left: 5px;
}
.thirdCloseX{
    background: rgb(97, 197, 84);
    border-radius: 50%;
    margin-left: 5px;
}


